apiVersion: v1
kind: Service
metadata:
  name: cps-action
  labels:
    app: cps-action
spec:
  selector:
    app: cps-action
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
    - name: grpc
      port: 50051
      targetPort: 50051
      protocol: TCP
  type: ClusterIP