apiVersion: v1
kind: Service
metadata:
  name: ecommerce
  labels:
    app: ecommerce
spec:
  selector:
    app: ecommerce
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  type: ClusterIP